#Java build output files Eclipse
target/
#Java build output files Idea
out/

.gitignore
jbrains.iml
modules.xml
runConfigurations.xml
vcs.xml

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project
